    @{{httpMethod}}
    @Path("{{{path}}}"){{#hasConsumes}}
    @Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
    @Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }){{/hasProduces}}
    {{#responses}}
    @ApiResponse(responseCode = "{{{code}}}", description = "{{{message}}}")
    {{/responses}}
    {{#bodyParam}}
    @RequestBody(required = {{#required}}true{{/required}}{{^required}}false{{/required}}, description = "{{{description}}}")
    {{/bodyParam}}
    /**
     * {{{summary}}}
     * {{{notes}}}
     *
     * @param ctx the routing context
     */
    public void handle(RoutingContext ctx);
